{% extends "base.html" %}
<!---->
{% block contant %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ประวัติส่วนตัวของฉัน</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>ประวัติส่วนตัวของฉัน</h1>
    </header>
    <main>
        <section id="personal-info">
            <h2>ข้อมูลส่วนตัว</h2>
            <p><strong>ชื่อ:</strong> นางสาวกุลนนัฐ  รัตนวัน</p>
            <p><strong>อายุ:</strong> 19</p>
            <p><strong>อาชีพ:</strong> นักศึกษา</p>
        </section>
        <section id="education">
            <h2>การศึกษา</h2>
            <ul>
                <li>เคยศึกษาที่โรงเรียนจินดาวิทยาคาร2</li>
                <li>เคยศึกษาที่วิทยาลัยเทคโนโลยีพณิชยการราษีไศล</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 [ใส่ชื่อของคุณ]. สงวนลิขสิทธิ์</p>
    </footer>
</body>
</html>
{% endblock contant %}